// content start

.content{
    display: flex;
    flex-wrap: nowrap;
}
article{
    width: 70%;
    height: 480px;
    background-color: black;
}
.sidebar{
    width: 30%;
    height: 480px;
    background-color: white;
}
